* {
  box-sizing: border-box;
  font-family: inherit;
}

.col-6,
.col-12 {
  padding: 12px !important;
  margin: 0 !important;
  display: block !important;
  padding: 12px;
}

@media (min-width: 769px) {
  .row {
    display: flex !important;
    flex-wrap: wrap !important;
    margin: 0 -12px 0 -12px !important;
    width: calc(100% + 24px) !important;
  }

  .col-6 {
    /* flex: 1 1 0; */
    flex: none;
    width: 50%;
  }
  .col-12 {
    /* flex: 1 1 0; */
    flex: none;
    width: 100%;
  }
}
